body {
  background-color: rgb(73, 12, 130);
}

form {
  align-items: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 2rem;
}

section {
  display: none;
  text-align: center;
}

label {
  align-items: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3px;
  padding: 3px;
  text-align: left;
}

h1 {
  color: white;
  margin-top: 100px;
  text-align: center;
}

h2 {
  color: antiquewhite;
  padding-top: 50px;
  text-align: center;
}

h3 {
  color: antiquewhite;
  text-align: center;
}
